<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Editora</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("IDEIEditora", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            @if (Roles.IsUserInRole("Manager"))
                            {
                                <li>@Html.ActionLink("Store Manager", "Index", "StoreManager")</li>
                            }
                            @if (Roles.IsUserInRole("Administrator"))
                            {
                                <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                                <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                            }
                            @if (Roles.IsUserInRole("Members"))
                            {
                                <li>@Html.ActionLink("Store", "Index", "Store")</li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <div style="width: auto;">
                @if (WebSecurity.IsAuthenticated)
                {
                    <strong>@WebSecurity.CurrentUserName</strong>
                    @Html.ActionLink("Log Out", "Logout", "User")
                }
                else { @Html.ActionLink("Register", "Registration", "User")
                    <span>|</span>
                    @Html.ActionLink("Log In", "Login", "User")
                }
            </div>
        </header>
        <div id="body">
            @{Html.RenderAction("GenreMenu", "Store");}
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
